scopeName: 'source.2da'
name: '2D Array'
fileTypes: [
  '2da'
]
patterns: [
  {
    match: '(^2DA)(\\s+V...)'
    name: 'constant.language.2da'
  }
  {
    match: '^\\s(.+)'
    name: 'entity.name'
  }
  {
    match: '(^\\d)(.+)'
    captures:
      0:
        name: 'constant.numeric.2da'
      1:
        name: 'keyword.other.2da'
  }
]
